<section class="container">
  <div class="left">

<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Weather Conditions at Location</h5>

<form  [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="longInput">Longitude</label>
    <input type="text" class="form-control" id="longInput" formControlName= "long" placeholder="Enter Longitude">
  </div>
  <div class="form-group">
    <label for="latInput">Latitude</label>
    <input type="Text" class="form-control" id="latInput" formControlName="lat" placeholder="Enter Latitude">
  </div>
  <div class="row col-10" style="padding-left: 24px;">
  <button type="submit" class="btn btn-primary" style="margin: 25px;float:right;">Submit</button>
  </div>
</form>
<div>
<div class="form-group">
  <label for="temp">Location Temperature:</label>
    <input type="Text" readonly [ngModel]="temp">
</div>
</div>
</div>
</div>
</div>
</section>
